# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/scratch-app-react/node_modules
/shopify-node-app/node_modules
/scratch-app-react/.pnp
/scratch-app-react/.pnp.js

# testing
/scratch-app-react/coverage

# production
/scratch-app-react/build

# misc
/scratch-app-react/.DS_Store
/scratch-app-react/.env.local
/scratch-app-react/.env.development.local
/scratch-app-react/.env.test.local
/scratch-app-react/.env.production.local

/scratch-app-react/npm-debug.log*
/scratch-app-react/yarn-debug.log*
/scratch-app-react/yarn-error.log*
